#bg{
    display:none;
}
#connect-logo{
    display:none;
}
#left-image{
    display:none;
}
.login.container{
    height: 100vh !important;
    width: 100vw !important;
    background-color: transparent !important;
    margin-top: 0% !important;
    margin-left: 0% !important;
    border-radius: 0 !important;
    box-shadow: 7px 7px 30px #ffffff;
} 
#logo-lnco {
    position: relative;
    top: -20px;
    margin-left: 18%;
    height: 135px;
    width: 250px;
    margin-top: 22%;
}
.container.span.text{
    color: rgb(0, 0, 0) !important;
}
#remember{
    color: black !important;
}
#username{
    font-weight: 700 !important;
}
#password{
    top:31% !important;
    font-weight:700; 
}
html, body {margin: 0;height: 100%;overflow: auto;}

input.user {
    font-size: 15px;
    border-radius: 10px;
    padding: 25px 80px 10px 40px;
    /* padding-right: 40%; */
    border-color: rgb(0, 183, 255);
    border-style: solid;
    font-weight: bold;
    color: rgb(73, 140, 167);
}
#email {
    color: rgb(0, 183, 255);
    position: absolute;
    left: 91px;
    top: 300px;
    font-size: 10px;
    font-weight: 800;
}
input.password {
    font-size: 15px;
    border-radius: 10px;
    padding: 25px 80px 10px 40px;
    /* margin-top: -11%; */
    border-color: rgb(0, 183, 255);
    position: absolute;
    margin-top: -8%;
    border-style: solid;
    color: rgb(73, 140, 167);
    font-weight:bold;
}
html body div.login.container form.form-class div.formField label.input_label.mild-blue {
    position: absolute;
    color: rgb(0, 183, 255);
    left: 91px;
    top: 382px;
    font-size: 10px;
    font-weight: 800;
}
body > div.login.container > p {
    margin-top: 26px;
    margin-bottom: 1rem;
}
#logo-lnco {
    position: relative;
    margin-left: 18%;
    height: 135px;
    width: 250px;
    margin-top: 15%;
}

#login-text {
    color: rgb(0, 183, 255);
    position: relative;
    margin-left: 12%;
}

body > div.login.container > form > div:nth-child(3) > a > span {
   display: none;
  }
.left.container {
    margin-top: 3%;
    margin-left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    /* margin-right: 0; */
}
.form-class {
    margin: -5px auto auto 35px;
}
.form-class > div:nth-child(4) {
    margin-top: 30%;
}
html body div.login.container form.form-class button.btn.btn-primary {
    padding: 1% 10% 1% 10%;
    margin-left: 25%;
    margin-top: 6%;
}