input#navcheck {
    position: fixed;
    opacity: 0;
}

label.sidemenu_label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

label.sidemenu_label::before {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 67, 100, .6);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label.sidemenu_label .burger {
    position: fixed;
    top: 2.2em;
    right: 1em;
    z-index: 3;
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label.sidemenu_label .burger::before,
label.sidemenu_label .burger .bar,
label.sidemenu_label .burger::after {
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
    height: 11%;
    background: #2c5ff6;
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label.sidemenu_label .burger .bar {
    top: 44%;
}

label.sidemenu_label .burger::before {
    top: 0;
    transform-origin: top left;
}

label.sidemenu_label .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}

input:focus+label.sidemenu_label .burger,
label.sidemenu_label:hover .burger {
    opacity: 0.75;
}

nav.sidemenu_nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    transform: translateX(100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    padding: 30% 0;
}

nav.sidemenu_nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 33em;
    background: #fff;
    content: '';
    transform: skewX(15deg) translateX(100%);
    transform-origin: bottom right;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 40em) {
    nav.sidemenu_nav::before {
        width: 40em;
    }
}

nav.sidemenu_nav a {
    margin: 25px 0;
    padding: 0.2em 0;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    display: block;
    border-bottom: solid 0.5px #dbdbdb;
}

nav.sidemenu_nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}

nav.sidemenu_nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}

nav.sidemenu_nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}

nav.sidemenu_nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}

nav.sidemenu_nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}

nav.sidemenu_nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}

nav.sidemenu_nav a:hover,
nav.sidemenu_nav a:focus {
    color: black;
}


/*main {
  overflow: hidden;
}
main .content {
  transform: translate3d(0, 0, 0);
  will-change: transform, filter;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}*/

.input_checked label.sidemenu_label::before {
    opacity: 1;
    pointer-events: auto;
}

.input_checked+label.sidemenu_label .burger::before,
.input_checked+label.sidemenu_label .burger::after {
    width: 141.42%;
}

.input_checked+label.sidemenu_label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}

.input_checked+label.sidemenu_label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}

.input_checked+label.sidemenu_label .burger .bar {
    transform: scale(0.1);
}

.input_checked~nav.sidemenu_nav {
    transform: translateX(0);
}

.input_checked~nav.sidemenu_nav::before {
    transform: skewX(0deg) translateX(0);
}

.input_checked~nav.sidemenu_nav a {
    transform: translateX(0);
}

.input_checked~main .content {
    transform-origin: left center;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    box-shadow: 0 0 2px lightgrey;
    /*background: #444;*/
}


/* misc 
/*body {
  overflow-x: hidden;
  background: #444;
  color: white;
  font: 1em/1.4 "lato";
}
main {
  background: #3498db;
  padding: 5% 0;
}
article {
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
}*/

@media (min-width: 60em) {
    /* article {
    width: 50%;
  }*/
}


/*h1 {
  font: 2.5em/1.4 "roboto condensed";
  font-weight: 700;
}
*/